@model IEnumerable<casamento.Areas.admin.Models.Historia>

@{
    ViewBag.Title = "Área Administrativa - Histórias";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Histórias</h2>

<p>
    @Html.ActionLink("Cadastrar nova história", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Título
        </th>
        <th>
            Descrição
        </th>
        <th>
            História
        </th>
        <th>
            Ordem
        </th>
        <th></th>
    </tr>

@foreach (var item in ViewBag.historiaLista) {
    <tr>
        <td>
            @item.titulo
        </td>
        <td>
            @item.descricaoHistoria
        </td>
        <td>
            <div class="row">
                <div class="col-lg-4">
                    <img class="img-responsive img-thumbnail" src="~/images/@item.imagemHistoria" alt="@item.imagemHistoria" title="@item.imagemHistoria" />

                </div>
            </div>
                </td>
        <td>
            @item.ordem
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.id }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
