@model casamento.Models.ImagensDestaque

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ImagensDestaque</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descricaoBreveImagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descricaoBreveImagem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dataCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dataCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
